@charset "UTF-8";
html {
  height: 100%; }

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-size: 16px;
  background: #000000;
  color: #FFFFFF;
  height: 848px;
  font-family: "SF UI Display"; }

.page-header,
.page-footer {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto; }

.main-page__header {
  display: flex;
  flex-direction: column; }

.page-header__logo {
  display: flex;
  justify-content: center;
  margin: 28px 0; }

.page-header__logo-image {
  width: 252px;
  height: 108px; }

.main-nav__list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 558px; }

.main-nav__list a {
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase; }

.main-nav__list-item {
  display: flex;
  justify-content: center; }

.page-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  margin: 0 auto; }

.page-main__title {
  display: block;
  margin: 0 auto; }

h1 {
  text-transform: uppercase;
  margin: 0 auto;
  letter-spacing: 1.3px;
  font-size: 29px; }

h3 {
  display: flex;
  justify-content: center;
  font-style: italic;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 0.5px; }

.link {
  display: flex;
  justify-content: flex-end;
  color: #FFFFFF;
  text-decoration: none; }

.main-nav__toggle {
  display: none; }

.photos-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.photos-container__image {
  padding-right: 10px; }

footer {
  display: flex;
  justify-content: center;
  height: 50px;
  font-size: 10px;
  line-height: 13px; }

.burger-menu {
  position: fixed;
  right: -10px;
  min-height: 100vh;
  background: #000000; }

.burger-menu h3 {
  font-family: "Playfair Display SC";
  font-size: 23px;
  text-transform: uppercase;
  text-decoration: underline;
  font-style: normal; }

.burger-menu__logo {
  display: flex;
  justify-content: center; }

.burger-menu__logo-image {
  max-width: 110px;
  width: 100%;
  height: auto; }

.newsletter {
  max-width: 285px;
  width: 100%;
  height: auto;
  background: #000000;
  border: 0.25px solid #FFFFFF;
  margin: 0 20px;
  padding: 40px 0; }

.newsletter h3 {
  font-family: "Playfair Display SC";
  justify-content: center;
  font-style: normal;
  font-size: 24px;
  padding-bottom: 10px; }

.newsletter p {
  font-family: "SF UI Display";
  text-align: center;
  font-size: 9px;
  padding-bottom: 20px; }

.subscribers {
  display: flex;
  justify-content: space-evenly; }

.send {
  background-color: #C8001E;
  width: 71px;
  height: auto;
  border: 1px solid #C8001E;
  text-transform: uppercase;
  color: #ffffff; }

/*моб версия*/
@media (min-width: 320px) {
  body: 320px;
  margin: 0 auto; }
/*планшет */
/*десктоп */
.burger-menu__social social {
  display: block; }

.social__title {
  display: flex;
  justify-content: center;
  padding-bottom: 20px; }

.social__list {
  display: flex;
  justify-content: space-between;
  width: 120px;
  margin: 0 auto; }

.burger-menu__button {
  z-index: 30;
  border-radius: 50%;
  background-color: #2a2a2a;
  transition: 0.4s; }

.burger-menu__button:hover .burger-menu__lines {
  filter: opacity(0.4); }

.burger-menu__lines,
.burger-menu__lines::after,
.burger-menu__lines::before {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #fff; }

.burger-menu__lines {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.burger-menu__lines::before {
  content: '';
  left: 10px; }

.burger-menu__lines::after {
  content: '';
  right: 10px; }

.burger-menu_active .burger-menu__button,
.burger-menu_active .burger-menu__lines {
  background-color: transparent; }

.burger-menu_active .burger-menu__lines::before {
  left: 10;
  transform: rotate(45deg); }

.burger-menu_active .burger-menu__lines::after {
  right: 10px;
  transform: rotate(-45deg); }

.burger-menu__nav {
  z-index: 20;
  display: flex;
  flex-flow: column;
  height: 100%;
  overflow-y: auto;
  transition: 0.5s; }

.burger-menu_active .burger-menu__nav {
  left: 0; }

.burger-menu__link {
  padding: 10px;
  color: #C8001E;
  font-weight: bold;
  text-decoration: none;
  font-family: "Playfair Display SC";
  font-size: 23px;
  text-transform: uppercase; }

.burger-menu__link:hover {
  filter: brightness(0.7); }

.burger-menu__overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10; }

.burger-menu_active .burger-menu__overlay {
  display: block; }

/*# sourceMappingURL=style.css.map */
