@font-face {
    font-family: 'Futura Md BT';
    src: url('../../fonts/Futura/FuturaBT-Bold.woff2') format('woff2'),
    url('../../fonts/Futura/FuturaBT-Bold.woff.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Futura Lt BT';
    src: url('../../fonts/Futura/FuturaBT-Light.woff2') format('woff2'),
        url('../../fonts/Futura/FuturaBT-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

